@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: roboto;
    font-weight: 400;
    color: #9E9EA1;
}
section{
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero__inicio {
    display: grid;
    width: 100%;
    grid-template-columns: 20% repeat(3, 1fr) 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header"
        ". clasificados clasificados clasificados ."
        ". noticiasPrincipales noticiasPrincipales noticiasPrincipales ."
        ". anunciantes anunciantes anunciantes ." 
        ". tapaYHumor tapaYHumor tapaYHumor ."
        ". main main aside ."
        "footer footer footer footer footer"
    ;
}
.hero__seccion {
    display: grid;
    width: 100%;
    grid-template-columns: 20% repeat(3, 1fr) 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header"
        ". seccion seccion seccion ."
        ". noticiasPrincipales noticiasPrincipales noticiasPrincipales ."
        ". main main aside ." 
        "footer footer footer footer footer"
    ;
}
.hero__noticia {
    display: grid;
    width: 100%;
    grid-template-columns: 20% repeat(3, 1fr) 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header"
        ". seccion seccion seccion ."
        ". titulo titulo titulo ."
        ". imagen imagen imagen ." 
        ". bajada bajada compartir ."
        ". cuerpoNota cuerpoNota aside ."
        "footer footer footer footer footer"
    ;
}

/* HEADER MENU */
header {
    grid-area: header;
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgb(156, 156, 156);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 99;
    padding-left: 20%;
    padding-right: 20%;
}

nav {
    width: 60%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: roboto;
    font-size: 1.5rem;
}

header h1 {
    font-family: roboto slab;
    font-size: 4rem;
    font-weight: 400;
    color: #BBDBE3;
    line-height: 100%;
}

header h1 a {
    text-decoration: none;
    color: #BBDBE3;
}

header strong {
    color: #1660A7;
}


nav ul a {
    text-decoration: none;
    padding: 5px;
    color: #1660A7;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 700;
    background-color: #BBDBE3;
    padding: 5px;
    border-radius: 5px;
}

nav li {
    padding: 5px;
}

nav ul a:hover {
    background-color: #1660A7;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
.abrir-menu,
.cerrar-menu {
    display: none;
}
/* FIN HEADER MENU */

/* CLASIFICADOS */
.clasificados {
    grid-area: clasificados;
    background-color: #BBDBE3;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listadoClasificados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.clasificados p {
    padding: 5px;
}

.button {    
    color: #fff;
    background-color: #1660A7;
    padding: 5px;
    text-decoration: none;
}

.button a {
}

/* FIN CLASIFICADOS */


/* NOTICIAS PRINCIPALES */
.contenedorNoticias {
    grid-area: noticiasPrincipales;
    display: flex;
    justify-content: center;

}

.noticiasPrincipales {
    display: flex;
    justify-content: space-between;
}

.noticias1 {
    width: 50%;
    height: 400px;
    margin-right: 10px;
    background-image: url(../assets/images/img1.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.noticias1 h2 {
background-color: #1661a77c ;
padding: 20px;
color: #fff;
font-size: 4rem;
text-align: center;
}
.noticias1 a{
    text-decoration: none;
}
.noticias2 {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.noticias2 a{
    text-decoration: none;
}
.noticiasChica1 {
    height: 50%;
    background-image: url(../assets/images/img2.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.noticiasChica2 {
    height: 50%;
    background-image: url(../assets/images/img3.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.noticiasChica1 h2 {    
    background-color: #1661a77c ;
    padding: 20px;
    color: #fff;
    font-size: 3rem;
    text-align: center;
}
.noticiasChica2 h2 {    
    background-color: #1661a77c ;
    padding: 20px;
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

/* FIN NOTICIAS PRINCIPALES */

/* ANUNCIANTES */
.anunciantes {
    grid-area: anunciantes;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.LogoAnunciantes img {
    width: 100%;
}
/* FIN ANUNCIANTES */

/* TAPA HUMOR Y EDICIONES ANTERIORES */ 
.tapaYHumor {
    grid-area: tapaYHumor;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}
.tapa {
    width: 25%;
    position: relative;
    height: 400px;
}
.tapa img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.tituloSeccion {    
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1661a7af ;
  color: #fff;
  font-size: 3rem;
  padding: 20px;
  padding: 10px;
  margin: 0;
  text-align: center;
}
/* FIN TAPA HUMOR Y EDICIONES ANTERIORES */ 

/* NOTICIAS SECUNDARIAS */ 
main {
    grid-area: main;
    margin-top: 20px;
}
.noticiasSecundarias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.listaNoticiasSecundarias{
    display: flex;
    flex-direction: column;
}
.listaNoticiasSecundarias h2{
    color: #1660A7;
    padding-bottom: 20px;
    font-size: 3rem;
}
article{
    border-top: 1px solid #BBDBE3;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    font-size: 1.5rem;
}
article img {
    width: 300px;
    height: 200px;
    padding-right: 20px;
    object-fit: cover;
}

article h3 {
    color: #1660A7;
    padding-bottom: 20px;
}
article p {
    color: #505055;
    padding-bottom: 20px;
}
article a  {
    background-color: #1660A7;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}
/* FIN NOTICIAS SECUNDARIAS */ 

/* PUBLICIDAD */
aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 20px;
    margin-top: 20px;
}
aside img {
    width: 100%;
    margin-bottom: 20px;
}
/* FIN PUBLICIDAD */

/* ESTILOS NOTICIA */
.nombreSeccion{
    grid-area: seccion;
    justify-content: flex-start;
    background-color: #1660A7;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 800; 
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 15px;   
    text-align: left;
    }
.tituloNota {
    grid-area: titulo;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tituloNota span {
    font-size: 1.5rem;
    color: #9E9EA1;
}
.tituloNota h2 {
    color: #1660A7;
    font-size: 3.5rem;
}
.imgPortada {
    grid-area: imagen;
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bajada {
    grid-area: bajada;
    font-size: 1.5rem;
    background-color: #DEDEDE;
    border-left: 10px solid #1660A7;
    color: #89898a;
    padding: 20px;
}
blockquote {
    grid-area: bajada;
    font-size: 1.5rem;
    background-color: #DEDEDE;
    border-left: 10px solid #1660A7;
    color: #89898a;
    padding: 20px;
}
.compartir {
    grid-area: compartir;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.compartir img {
    width: 40px;
    border-radius: 5px;
    padding: 0px;
    margin-left: 10px;
}

.cuerpoNota {
    grid-area: cuerpoNota;
    margin-bottom: 40px;
}
.cuerpoNota p {
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 150%;
}
.cuerpoNota h4 {
    color: #1660A7;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cuerpoNota li {
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 10px;
}
.cuerpoNota a {
    text-decoration: none;
    color: #1660A7;
    font-weight: bold;
    padding: 5px;

}
.cuerpoNota a:hover {
    background-color: #1660A7;
    color: #fff;
    padding: 5px;
border-radius: 5px;
}
.imgCuerpoNota {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* FIN ESTILOS NOTICIA */

/* FOOTEER */
footer {
    grid-area: footer;
    width: 100%;
    background-color: #1660A7;
    font-family: roboto;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    bottom: 0px;
}

.footer {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-size: 1.5rem;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

footer h1 {
    font-family: roboto slab;
    font-weight: 300;
    font-size: 4rem;
}
footer img {
    border-radius: 5px;
    width: 40px;
    margin: 10px;
}

footer p {
    font-weight: 400;
    padding-top: 5px;
}

.faba img {
    width: 170px;
    margin: 10px;
}

.creador {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: #BBDBE3;
    color: #1660A7;
    padding: 10px;
}

footer a {
    text-decoration: none;
    color: #fff;
}
/* FIN FOOTEER */

/* MEDIAS QUERIES */
@media (max-width: 1440px) {    
.hero__inicio {
    grid-template-columns: 10% repeat(3, 1fr) 10%;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header header"
    ". clasificados clasificados clasificados ."
    ". noticiasPrincipales noticiasPrincipales noticiasPrincipales ."
    ". anunciantes anunciantes anunciantes ." 
    ". tapaYHumor tapaYHumor tapaYHumor ."
    ". main main aside ."
    "footer footer footer footer footer"
    ;
}
.hero__seccion {
    grid-template-columns: 10% repeat(3, 1fr) 10%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header"
        ". seccion seccion seccion ."
        ". noticiasPrincipales noticiasPrincipales noticiasPrincipales ."
        ". main main aside ." 
        "footer footer footer footer footer"
    ;
}
.hero__noticia {
    grid-template-columns: 10% repeat(3, 1fr) 10%;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header header"
    ". seccion seccion seccion ."
    ". titulo titulo titulo ."
    ". imagen imagen imagen ." 
    ". bajada bajada compartir ."
    ". cuerpoNota cuerpoNota aside ."
    "footer footer footer footer footer"
    ;
}
header{
    padding-right: 10%;
    padding-left: 10%;
}
nav {
    width: 100%;
    top: 0px;
} 
aside {
    flex-direction: column;
    margin-left: 0px;

}
aside img {
    width: 100%;
}
.footer {
    width: 100%;
}
}

@media (max-width: 1024px){
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        background-color: #BBDBE3;
        color: #1660A7;
        padding: 5px;
        font-size: 35px;
        border-radius: 10px;
        font-weight: bolder;
    }

    .cerrar-menu {
        color: #1660A7;
        font-size: 40px;
    }

    .nav {
        width: auto;
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 10%;
        bottom: 0;
        top: 245px;
        color: #1660A7;
        font-size: 20px;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
    
    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: #1660A7;
    }

    .hero__inicio {
        grid-template-columns:10% 1fr 10%;
        grid-template-rows: auto;
        grid-template-areas:
            "header header header"
            ". clasificados ."
            ". noticiasPrincipales ."
            ". anunciantes ."
            ". tapaYHumor ."
            ". main ."
            ". aside ."
            "footer footer footer"
        ;
        
    }


    .hero__seccion {
        grid-template-columns: 10% 1fr 10%;
        grid-template-rows: auto;
        grid-template-areas:
            "header header header"
            ". seccion ."
            ". noticiasPrincipales ."
            ". main ."
            ". aside ." 
            "footer footer footer"
        ;
    }
    
.hero__noticia {
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    ". seccion ."
    ". titulo ."
    ". imagen ." 
    ". compartir ."
    ". bajada ."
    ". cuerpoNota ."
    ". aside ."
    "footer footer footer"
    ;
}

    aside {
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0px;

    }
    aside img {
        width: 49%;
    }
}

@media (max-width: 768px){
    
header{
    padding-right: 5%;
    padding-left: 5%;
}
.nav {
    right: 5%;
}
    .hero__inicio {
        grid-template-columns:5% 1fr 5%;
        grid-template-rows: auto;
        grid-template-areas:
            "header header header"
            ". clasificados ."
            ". noticiasPrincipales ."
            ". anunciantes ."
            ". tapaYHumor ."
            ". main ."
            ". aside ."
            "footer footer footer"
        ;
        
    }
    
    .hero__seccion {
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: auto;
        grid-template-areas:
            "header header header"
            ". seccion ."
            ". noticiasPrincipales ."
            ". main ."
            ". aside ." 
            "footer footer footer"
        ;
    }

    .hero__noticia {
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: auto;
        grid-template-areas:
        "header header header"
        ". seccion ."
        ". titulo ."
        ". imagen ." 
        ". compartir ."
        ". bajada ."
        ". cuerpoNota ."
        ". aside ."
        "footer footer footer"
        ;
    }

    .noticiasPrincipales {
        flex-direction: column;
        gap: 20px;
    }
    .noticias1 {
        width: 100%;
    }
    .noticias2 {
        flex-direction: row;
        width: 100%;
        height: 250px;
        gap: 20px;
    }
    .noticiasChica1 {
        width: 50%;
        height: 100%;
    }
    .noticiasChica2 {
        width: 50%;
        height: 100%;
    }
    .tapaYHumor {
    flex-wrap: wrap;
    }
    .tapa {
        width: 48%;
    }
    .humor {
        width: 48%;
    }
    .actProfYVersionesAnteriores {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .actProfYVersionesAnteriores img {
        width: 48%;
        height: 100%;
    }
    .footer {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media (max-width: 570px){
    
article h3 {
    text-align: center;
    font-size: 2.5rem;
    padding-top: 20px;
}

    .footer{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .informacion {
    text-align: center;
    }
    .informacion p {
        padding-bottom: 5px;
    }
    .redesSociales {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    article{
        flex-direction: column;
    }
    article p {
        display: none;
    }
    article img {
        width: 100%;
        height: 400px;
        padding-right: 0px;
    }
    

}

@media (max-width: 425px){
    
header h1 {
    font-size: 3rem;
}
    

    .hero__inicio {
        grid-template-columns:5% 1fr 5%;
        grid-template-rows: auto;
        grid-template-areas:
            "header header header"
            ". clasificados ."
            ". noticiasPrincipales ."
            ". anunciantes ."
            ". tapaYHumor ."
            ". main ."
            "footer footer footer"
        ;
        
    }
    .hero__seccion {
        grid-template-columns: 5% 1fr 5%;
        grid-template-rows: auto;
        grid-template-areas:
            "header header header"
            ". seccion ."
            ". noticiasPrincipales ."
            ". main ."
            "footer footer footer"
        ;
    }
    nav {
        width: 100%;
        top: 0px;
    } 
    aside {
        flex-direction: row;
        margin-left: 0px;
        gap: 20px;
        padding-left: 100px ;
        padding-right: 100px ;

    }
    aside img {
        width: 50%;
    }
    .noticias2 {
        flex-direction: column;
        width: 100%;
        height: 500px;
    }
    .noticiasChica1 {
        width: 100%;
    }
    .noticiasChica2 {
        width: 100%;
    }
    .actProfYVersionesAnteriores {
        flex-direction: column;
    }

    .actProfYVersionesAnteriores img{
        width: 100%;
    }
    article {
        flex-direction: column;
    }
    article img {
        width: 100%;
        height: 300px;
        padding-right: 0px;
    }
    article p {
        display: none;
    }
    aside {
        display: none;
    }
    .footer{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .informacion {
    text-align: center;
    }
    .informacion p {
        padding-bottom: 5px;
    }
    .contactos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .redesSociales {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .humor {
        width: 100%;
    }
    .tapa {
        width: 100%;
    }
}