@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    font-family: roboto;
    font-weight: 400;
    color: #9E9EA1;
}
header {
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgb(156, 156, 156);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}
nav {
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    font-family: roboto;
}
nav h1 {
    font-family: roboto slab;
    font-size: 40px;
    font-weight: 400;
    color: #BBDBE3;
    line-height: 100%;
}
nav h1 a {    
    text-decoration: none;
    color: #BBDBE3;
}
nav strong {
    color: #1660A7;
}
nav ul a {
    text-decoration: none;
    padding: 5px;
    color: #1660A7;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 700;
    background-color: #BBDBE3;
    padding: 5px;
    border-radius: 5px;
}
nav li {
    padding: 5px;
}
nav ul a:hover{
background-color: #1660A7;
color: #fff;
padding: 5px;
border-radius: 5px;
}
main{
display: flex;
flex-direction: column;
align-items: center;

}
.clasificados{
    width: 60%;
    background-color: #BBDBE3;
    padding: 5px;
    margin-top: 20px;
    font-size: 12px;
}
.listadoClasificados {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.listadoClasificados a {
    text-decoration: none;
    color: #fff;
    background-color: #1660A7;
    padding: 5px;
}
section{
    width: 60%;
    display: flex;
    justify-content: center;
}
.nombreSeccion{
justify-content: flex-start;
width: 60%;
background-color: #1660A7;
color: #fff;
font-weight: 800; 
margin-top: 20px;
margin-bottom: 10px;
padding: 15px;   
text-align: left;
}
.noticiasPrincipales {
    margin-top: 20px;
    margin-bottom: 40px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.noticias1 {
    width: 50%;
    height: 400px;
    margin-right: 10px;
    background-image: url(../assets/images/img1.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.noticias1 h2 {
background-color: #1661a77c ;
padding: 20px;
color: #fff;
font-size: 40px;
text-align: center;
}
.noticias1 a{
    text-decoration: none;
}
.noticias2 {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.noticias2 a{
    text-decoration: none;
}
.noticiasChica1 {
    height: 50%;
    background-image: url(../assets/images/img2.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.noticiasChica2 {
    height: 47%;
    background-image: url(../assets/images/img3.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.noticiasChica1 h2 {    
    background-color: #1661a77c ;
    padding: 20px;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.noticiasChica2 h2 {    
    background-color: #1661a77c ;
    padding: 20px;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.anunciantes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.tapaYHumor {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 40px;
}
.tapaYHumor img {
    width: 100%;
    margin-right: 20px;
}
.actProfYVersionesAnteriores {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.noticiasSecundarias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.listaNoticiasSecundarias{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.listaNoticiasSecundarias h2{
    color: #1660A7;
    padding-bottom: 20px;
    font-size: 30px;
}
.publicidad {
    width: 30%;
    margin-left:40px ;
    display: flex;
    flex-direction: column;
}
.publicidad img {
    width: 100%;
    padding-bottom: 20px;
}

article{
    border-top: 1px solid #BBDBE3;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
}

article img {
    width: 300px;
    height: 200px;
    padding-right: 20px;
    object-fit: cover;
}

article h3 {
    color: #1660A7;
    padding-bottom: 20px;
}
article p {
    color: #505055;
    padding-bottom: 20px;
}
article a  {
    background-color: #1660A7;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.compartir {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
    align-items: center;
    margin: 5px;
}
.compartir img {
    width: 40px;
    border-radius: 5px;
    padding: 0px;
    margin-left: 10px;
}
.nota {
    flex-direction: column;
}
.notaCompleta{
    width: 100%;
    display: flex;
    justify-content: center;
}
.tituloNota {
    width: 100%;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tituloNota span {
    color: #9E9EA1;
}
.tituloNota h2 {
    color: #1660A7;
    font-size: 35px;
}
.cuerpoNota {
    width: 70%;
    margin-bottom: 40px;
}
.cuerpoNota .bajada {
    background-color: #DEDEDE;
    border-left: 10px solid #1660A7;
    color: #89898a;
    padding: 20px;
}
.imgPortada {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cuerpoNota p {
    text-align: justify;
    margin-bottom: 20px;
    line-height: 150%;
}
.cuerpoNota h4 {
    color: #1660A7;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cuerpoNota li {
    text-align: justify;
    margin-bottom: 10px;
}
.cuerpoNota a {
    text-decoration: none;
    color: #1660A7;
    font-weight: bold;
    padding: 5px;

}
.cuerpoNota a:hover {
    background-color: #1660A7;
    color: #fff;
    padding: 5px;
border-radius: 5px;
}
.imgCuerpoNota {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
 /* INSTITUCIONAL  */

.noticiaInstitucional1 {
    width: 50%;
    height: 400px;
    margin-right: 10px;
    background-image: url(../assets/images/img8.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.noticiasChicaInstitucional1 {
    height: 50%;
    background-image: url(../assets/images/img9.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.noticiasChicaInstitucional2 {
    height: 47%;
    background-image: url(../assets/images/img10.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.noticiaInstitucional1 h2 {
    background-color: #1661a7a8 ;
    padding: 20px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    }
.noticiaInstitucional1 a{
    text-decoration: none;
} 
.noticiasChicaInstitucional1 h2 {    
    background-color: #1661a7a8 ;
    padding: 20px;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.noticiasChicaInstitucional2 h2 {    
    background-color: #1661a7a8 ;
    padding: 20px;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
 /* TERMINA INSTITUCIONAL  */

 /* FBA  */

.noticiaFBA1 {
    width: 50%;
    height: 400px;
    margin-right: 10px;
    background-image: url(../assets/images/img11.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.noticiasChicaFBA1 {
    height: 50%;
    background-image: url(../assets/images/img13.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.noticiasChicaFBA2 {
    height: 47%;
    background-image: url(../assets/images/img12.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.noticiaFBA1 h2 {
    background-color: #1661a7a8 ;
    padding: 20px;
    color: #fff;
    font-size: 40px;
    text-align: center;
    }
.noticiaFBA1 a{
    text-decoration: none;
} 
.noticiasChicaFBA1 h2 {    
    background-color: #1661a7a8 ;
    padding: 20px;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.noticiasChicaFBA2 h2 {    
    background-color: #1661a7a8 ;
    padding: 20px;
    color: #fff;
    font-size: 30px;
    text-align: center;
}
.noticiasChicaFBA1 a {
    text-decoration: none;
}
.noticiasChicaFBA2 a {
    text-decoration: none;
}
 /* TERMINA FBA  */

footer {    
background-color: #1660A7;
font-family: roboto;
color: #fff;
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
height: 250px;

}
footer .footer {    
width: 60%;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 30px;
}
footer h1 {
    font-family: roboto slab;
    font-weight: 300;
    font-size: 40px;
}
footer .informacion{
    width: 400px;
}
footer img {
    border-radius: 5px;
    width: 40px;
    margin-left: 20px;
}
footer p {
    font-weight: 400;
    padding-top: 5px;
}
.faba img {
    width: 170px;
    margin-top: 40px;
}
footer .creador {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: #BBDBE3;
    color: #1660A7;
    height: 40px;
    margin-top: 20px;
}
footer a{
    text-decoration: none;
    color: #fff;
}