@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-family: roboto;
    font-weight: 400;
    color: #9E9EA1;
}
section{
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero__inicio {
    display: grid;
    width: 100%;
    grid-template-columns: 20% repeat(3, 1fr) 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header"
        ". clasificados clasificados clasificados ."
        ". noticiasPrincipales noticiasPrincipales noticiasPrincipales ."
        ". anunciantes anunciantes anunciantes ." 
        ". tapaYHumor tapaYHumor tapaYHumor ."
        ". main main aside ."
        "footer footer footer footer footer"
    ;
}
.hero__noticia {
    display: grid;
    width: 100%;
    grid-template-columns: 20% repeat(3, 1fr) 20%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header"
        ". seccion seccion seccion ."
        ". titulo titulo titulo ."
        ". imagen imagen imagen ." 
        ". bajada bajada compartir ."
        ". cuerpoNota cuerpoNota aside ."
        "footer footer footer footer footer"
    ;
}
/* HEADER MENU */
header {
    grid-area: header;
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgb(156, 156, 156);
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0px;
}

nav {
    width: 60%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: roboto;
    font-size: 1.5rem;
}

nav h1 {
    font-family: roboto slab;
    font-size: 4rem;
    font-weight: 400;
    color: #BBDBE3;
    line-height: 100%;
}

nav h1 a {
    text-decoration: none;
    color: #BBDBE3;
}

nav strong {
    color: #1660A7;
}

nav ul a {
    text-decoration: none;
    padding: 5px;
    color: #1660A7;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-weight: 700;
    background-color: #BBDBE3;
    padding: 5px;
    border-radius: 5px;
}

nav li {
    padding: 5px;
}

nav ul a:hover {
    background-color: #1660A7;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}
/* FIN HEADER MENU */

/* CLASIFICADOS */
.clasificados {
    grid-area: clasificados;
    background-color: #BBDBE3;
    height: 35PX;
    padding: 5px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.listadoClasificados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}

.listadoClasificados a {
    text-decoration: none;
    color: #fff;
    background-color: #1660A7;
    padding: 5px;
}

/* FIN CLASIFICADOS */


/* NOTICIAS PRINCIPALES */
.contenedorNoticias {
    grid-area: noticiasPrincipales;
    display: flex;
    justify-content: center;

}

.noticiasPrincipales {
    display: flex;
    justify-content: space-between;
}

.noticias1 {
    width: 50%;
    height: 400px;
    margin-right: 10px;
    background-image: url(../assets/images/img1.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.noticias1 h2 {
background-color: #1661a77c ;
padding: 20px;
color: #fff;
font-size: 4rem;
text-align: center;
}
.noticias1 a{
    text-decoration: none;
}
.noticias2 {
    width: 50%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.noticias2 a{
    text-decoration: none;
}
.noticiasChica1 {
    height: 50%;
    background-image: url(../assets/images/img2.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.noticiasChica2 {
    height: 47%;
    background-image: url(../assets/images/img3.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.noticiasChica1 h2 {    
    background-color: #1661a77c ;
    padding: 20px;
    color: #fff;
    font-size: 3rem;
    text-align: center;
}
.noticiasChica2 h2 {    
    background-color: #1661a77c ;
    padding: 20px;
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

/* FIN NOTICIAS PRINCIPALES */

/* ANUNCIANTES */
.anunciantes {
    grid-area: anunciantes;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.LogoAnunciantes img {
    width: 100%;
}
/* FIN ANUNCIANTES */

/* TAPA HUMOR Y EDICIONES ANTERIORES */ 
.tapaYHumor {
    grid-area: tapaYHumor;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}
.tapa {
    width: 33.33%;
}
.tapa img {
    width: 100%;
}
.humor {
    width: 33.33%;
}
.humor img {
width: 100%;
}
.actProfYVersionesAnteriores {
    display: flex;
    flex-direction: column;
    width: 33.33%;
}
.actProfYVersionesAnteriores img {
    height: auto;
}
/* FIN TAPA HUMOR Y EDICIONES ANTERIORES */ 

/* NOTICIAS SECUNDARIAS */ 
main {
    grid-area: main;
    margin-top: 20px;
}
.noticiasSecundarias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.listaNoticiasSecundarias{
    display: flex;
    flex-direction: column;
}
.listaNoticiasSecundarias h2{
    color: #1660A7;
    padding-bottom: 20px;
    font-size: 3rem;
}
article{
    border-top: 1px solid #BBDBE3;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    font-size: 1.5rem;
}

article img {
    width: 300px;
    height: 200px;
    padding-right: 20px;
    object-fit: cover;
}

article h3 {
    color: #1660A7;
    padding-bottom: 20px;
}
article p {
    color: #505055;
    padding-bottom: 20px;
}
article a  {
    background-color: #1660A7;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}
/* FIN NOTICIAS SECUNDARIAS */ 

/* PUBLICIDAD */
aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 20px;
    margin-top: 20px;
}
aside img {
    width: 100%;
    margin-bottom: 20px;
}
/* FIN PUBLICIDAD */

/* ESTILOS NOTICIA */
.nombreSeccion{
    grid-area: seccion;
    justify-content: flex-start;
    background-color: #1660A7;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 800; 
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 15px;   
    text-align: left;
    }
.tituloNota {
    grid-area: titulo;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
.tituloNota span {
    color: #9E9EA1;
}
.tituloNota h2 {
    color: #1660A7;
    font-size: 3.5rem;
}
.imgPortada {
    grid-area: imagen;
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bajada {
    grid-area: bajada;
    font-size: 1.5rem;
    background-color: #DEDEDE;
    border-left: 10px solid #1660A7;
    color: #89898a;
    padding: 20px;
}
blockquote {
    grid-area: bajada;
    font-size: 1.5rem;
    background-color: #DEDEDE;
    border-left: 10px solid #1660A7;
    color: #89898a;
    padding: 20px;
}
.compartir {
    grid-area: compartir;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.compartir img {
    width: 40px;
    border-radius: 5px;
    padding: 0px;
    margin-left: 10px;
}

.cuerpoNota {
    grid-area: cuerpoNota;
    margin-bottom: 40px;
}
.cuerpoNota p {
    text-align: justify;
    font-size: 1.5rem;
    margin-bottom: 20px;
    line-height: 150%;
}
.cuerpoNota h4 {
    color: #1660A7;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cuerpoNota li {
    text-align: justify;
    margin-bottom: 10px;
}
.cuerpoNota a {
    text-decoration: none;
    color: #1660A7;
    font-weight: bold;
    padding: 5px;

}
.cuerpoNota a:hover {
    background-color: #1660A7;
    color: #fff;
    padding: 5px;
border-radius: 5px;
}
.imgCuerpoNota {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* FIN ESTILOS NOTICIA */

/* FOOTEER */
footer {
    grid-area: footer;
    width: 100%;
    background-color: #1660A7;
    font-family: roboto;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    bottom: 0px;
}

.footer {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    font-size: 1.5rem;
    padding-bottom: 20px;
}

footer h1 {
    font-family: roboto slab;
    font-weight: 300;
    font-size: 4rem;
}

footer .informacion {
}
footer .redesSociales {
}

footer img {
    border-radius: 5px;
    width: 40px;
    margin-left: 20px;
}

footer p {
    font-weight: 400;
    padding-top: 5px;
}

.faba img {
    width: 170px;
}

.creador {
    display: flex;
    font-size: 1.5;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
    background-color: #BBDBE3;
    color: #1660A7;
    height: 40px;
}

footer a {
    text-decoration: none;
    color: #fff;
}
/* FIN FOOTEER */

/* MEDIAS QUERIES */
@media (max-width: 1440px) {    
.hero__inicio {
    grid-template-columns: 10% repeat(3, 1fr) 10%;
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header header"
        ". clasificados clasificados clasificados ."
        ". noticiasPrincipales noticiasPrincipales noticiasPrincipales ."
        ". anunciantes anunciantes anunciantes ." 
        ". tapaYHumor tapaYHumor tapaYHumor ."
        ". main main aside ."
        "footer footer footer footer footer"
    ;
}
.hero__noticia {
    grid-template-columns: 10% repeat(3, 1fr) 10%;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header header header"
    ". seccion seccion seccion ."
    ". titulo titulo titulo ."
    ". imagen imagen imagen ." 
    ". bajada bajada compartir ."
    ". cuerpoNota cuerpoNota aside ."
    "footer footer footer footer footer"
    ;
}
nav {
    width: 80%;
    top: 0px;
}
.footer {
    width: 80%;
}
}

@media (max-width: 1024px){
    html{
        font-size: 1.5rem;
    }

    .hero__inicio {
        grid-template-columns:1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "clasificados"
            "noticiasPrincipales"
            "anunciantes"
            "tapaYHumor"
            "main"
            "aside"
            "footer"
        ;
        
    }
    .hero__noticia {
        grid-template-columns:1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "seccion"
            "titulo"
            "imagen"
            "bajada"
            "compartir"
            "cuerpoNota"
            "aside"
            "footer"
        ;
        
    }
    nav {
        width: 100%;
        margin-left: 100px ;
        margin-right: 100px ;
        top: 0px;
    } 
    .clasificados{
        padding-left: 100px ;
        padding-right: 100px ;
    }
    .noticiasPrincipales{
        padding-left: 100px ;
        padding-right: 100px ;
    }
    .anunciantes {
        padding-left: 100px ;
        padding-right: 100px ;
    }
    .tapaYHumor {
        padding-left: 100px ;
        padding-right: 100px ;
    }
    main {
        padding-left: 100px ;
        padding-right: 100px ;
    }     
    .nombreSeccion{
        margin-left: 100px ;
        margin-right: 100px ;
    }     
    .tituloNota{
        padding-left: 100px ;
        padding-right: 100px ;
    }     
    .imgPortada{
        padding-left: 100px ;
        padding-right: 100px ;
    } 
    .bajada{
        margin-left: 100px ;
        margin-right: 100px ;
    } 
    .cuerpoNota{
        padding-left: 100px ;
        padding-right: 100px ;
    }
    .footer{
        width: 100%;
        padding-left: 100px ;
        padding-right: 100px ;
    }
    aside {
        flex-direction: row;
        margin-left: 0px;
        gap: 20px;
        padding-left: 100px ;
        padding-right: 100px ;

    }
    aside img {
        width: 50%;
    }
}
@media (max-width: 425px){
    html{
        font-size: 3rem;
    }
}