header {
    grid-area: header;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgb(156, 156, 156);
    /**/
    @include flex(initial, space-between, center);
    position: sticky;
    /* */
    top: 0px;
    z-index: 99;
    padding-left: 20%;
    padding-right: 20%;

    h1 {
        font-family: roboto Slab;
        font-size: 4rem;
        color: $color-principal;
        line-height: 100%;

        a {
            text-decoration: none;
            color: $color-principal;

            strong {
                color: $color-secundario;
            }
        }
    }

    nav {
        height: 40px;
        /**/
        @include flex (row, flex-end, initial);
        /**/
        font-size: 1.5rem;
    }
    
    .nav-mobile {
        display: none;
    } 

    ul {
        /* */
        @include flex (row, center, center);
        /**/
        list-style: none;
        font-weight: 700;
        background-color: $color-principal;
        padding: 5px;
        border-radius: 5px;

        li {
            padding: 5px;

            a {
                text-decoration: none;
                padding: 5px;
                color: $color-secundario;

                &:hover {
                    background-color: $color-secundario;
                    color: #fff;
                    padding: 5px;
                    border-radius: 5px;
                }
            }
        }
    }

}