@media (max-width: 425px) {
    header h1 {
        font-size: 3rem;
    }

    .hero__inicio {
        @include grilla (5% 1fr 5%, auto, "header header header"". clasificados ."". noticiasPrincipales ."". tapaYHumor ."". main .""footer footer footer", initial, initial);
    }

    .hero__seccion {
        @include grilla (5% 1fr 5%, auto, "header header header"". seccion ."". noticiasPrincipales ."". main .""footer footer footer", initial, initial);
    }

    .ContenedorNoticias {
        gap: 10px;
        @include grilla (100%, repeat(3, 250px), "nota1""nota2""nota3", initial, initial);
    }

    .tapa {
        width: 100% !important;
    }
}